MyBiaso/*/bin/Debug
MyBiaso/*/bin/Release
MyBiaso/*/obj
MyBiaso/_ReSharper.MyBiaso
MyBiaso/MyBiaso.suo
MyBiaso/MyBiaso/MyBiaso.suo
MyBiaso/MyBiaso.5.0.ReSharper.user
MyBiaso/MyBiaso/MyBiaso.5.0.ReSharper.user